version: "3.9"

services:
  backend:
    build: ./backend
    container_name: coach-prompt-backend
    ports:
      - "8000:8000"
    environment:
      - OLLAMA_BASE_URL=http://host.docker.internal:11434
    restart: unless-stopped


  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: coach-prompt-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: unless-stopped


  n8n:
    image: n8nio/n8n
    container_name: coach-prompt-n8n
    ports:
      - "5678:5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=false
      - N8N_HOST=localhost
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
    volumes:
      - n8n_data:/home/node/.n8n
    restart: unless-stopped

volumes:
  n8n_data:
